
.all{
    height:fit-content;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}   


.boxOne{
    height: 13vh;
    width: 100%;
    display: flex;
    align-items:end;
}
.space{
    width: 25%;
}

.title_container{
    width: 75%;
}

.title{
    padding-bottom: 0; 
    margin-bottom: 0;
    display: flex;
    align-items:center;
    font-size: 7vh;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(3px 3px 7px black);
}

.description{
    color: #ffc402;
    padding-inline-start: 2rem;
    font-size: 6;
    padding-bottom: 0; 
    margin-bottom: 0;
}

.boxThree{
    height: 7vh;
}


.boxTwo{
    width: 100%;
    display: flex;
    height: 70vh;
     
}

.boxTwo_space{
    width: 25%;
}

.container_button{
    width: 25%;
    display: flex;
    align-items:end;
}


.container_projects{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:end;
    gap: 1rem ; 
    height: 70vh;
}


.card {
    width: 45%;
    height: 69vh;
    transition: .5s;
    background: #030a13;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    flex-direction: column;
    outline: none;
}
a:link { text-decoration:none; } a:visited { text-decoration:none; }

.logo{
    z-index: 1;
    background: #ffffffd8;
    display: flex;
    justify-content: center;
    height: 10vh;

}

.logo2{
    z-index: 1;
    background: #23282F;
    display: flex;
    justify-content: center;
    height: 10vh;
}
 
.logo > img{
    width: 60%; 
}
.logo2 > img{
    width: 70%; 
}




/*cardpresentation*/
.card_presentation{
    z-index: 1;
    height: 59vh;
    width: 100%; 
    display: flex; 
    align-items: center;
    flex-direction: column  ;

}
.video{
    z-index: 1; 
    height: 20vh;  

}


.data_project{
    color:#ffffff98;
    height: 30vh; 
    width: 90%;
    font-weight: bold;
    display: flex;
    align-items:center
}

.enlaces{
    height: 9vh;
    width: 100%; 

    display: flex;
    align-items:center; 
    padding-inline-start:1rem ;
}

.icon_a{
    color:#ffffffca; 
    height: 40px;
}



.icon_a:hover{
    color:  #ffc402;
   scale: 1.2;
}




.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
   
    height: 130%;
    animation: rotBGimg 30s linear infinite;
    transition: all 0.2s linear;
}






@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
  
  .card::after {
    content: '';
    position: absolute;
    background: #030a13;
    

    inset: 5px;
    border-radius: 15px;
  } 

  
   .card:hover:before {
    animation: rotBGimg 3.5s linear;
    width: 100%;
 
} 


.card:hover{
    filter: drop-shadow(0 0  2rem black); 
    transition: .7s;
}



/*boton mas*/
.uiverse {
    position: relative;
    background: #030a13;
    color: #000;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width:  5rem;
    height: 5rem;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .uiverse:hover,
  .uiverse:hover .tooltip,
  .uiverse:hover .tooltip::before {
    background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
    color: #ffffff;
  }
  
  /*mobile disigne*/
  @media (orientation: portrait) {
    /* Estilos para dispositivos móviles en modo retrato aquí */

    .all{
        height: 200vh;
        justify-content: start;
    }


    .boxOne{
        height: 10vh;

    }
    .title_container{
        width: 100%;

    }
    .title{
        padding: 0;
        margin-bottom: 0;
        font-size: 4.5vh;
        padding-inline-start: 1rem;

    }
    .description{
        font-size: 1rem;
    }
    .space{
        width: 0;
    }
    .boxTwo_space{
        width: 0;
        
    }
    .boxTwo{ 
        flex-direction: column;
        height: fit-content;
    }
    .boxThree{
        height: 15vh; 
        width: 100%;
    } 

    .container_projects{
        width: 100%;
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items:center; 
      
    }

    .container_button{
        height: 15vh ;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items:center;
    }
    .card{
        width: 80%;
        height: 80vh;
    }
    .data_project{
        height: 50vh;
    }
    
 
  }
  /* Pantallas pequeñas */
@media (max-width: 768px) {
   /* Estilos para pantallas pequeñas aquí */

   



.title{
    padding-bottom: 0; 
    margin-bottom: 0;
    display: flex;
    align-items:center;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(3px 3px 7px black);
}

.description{
    color: #ffc402;
    padding-inline-start: 2rem;
    padding-bottom: 0; 
    margin-bottom: 0;
    font-size: 1rem;

}

.boxThree{
    height: 7vh;
}



.boxTwo_space{
    width: 20%;
}

.container_button{
    width: 10%;
    display: flex;
    align-items:end;

}


.container_projects{
    width: 70%;
  

}

.data_project > p{
    padding-top: 5px;
    font-size: .7rem;
}


/*cardpresentation*/
.card_presentation{
    z-index: 1;
    height: 59vh;
    width: 100%; 
    display: flex; 
    align-items: center;
    flex-direction: column  ;

}
.video{
    z-index: 1; 
    height: 20vh;  

}


.data_project{
    color:#ffffff98;
    height: 30vh; 
    width: 90%;
    font-weight: bold;
    display: flex;
    align-items:center
}

.enlaces{
    height: 9vh;
    width: 100%; 

    display: flex;
    align-items:center; 
    padding-inline-start:1rem ;
}

.icon_a{
    color:#ffffffca; 
    height: 30px;
}

.icon_a:hover{
    color:  #ffc402;
   scale: 1.2;
}

 }
 .uiverse {
   
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    width:  3rem;
    height: 3rem;
    
  }
 
 /* Pantallas medianas */
 @media (min-width: 769px) and (max-width: 992px) {
   /* Estilos para pantallas medianas aquí */
 }
 
 /* Pantallas grandes */
 @media (min-width: 993px) and (max-width: 1200px) {
   /* Estilos para pantallas grandes aquí */
 }
 
 /* Pantallas extra grandes */
 @media (min-width: 1201px) {
   /* Estilos para pantallas extra grandes aquí */
 }
 
 /* Dispositivos móviles en modo paisaje */
 @media (orientation: landscape) {
   /* Estilos para dispositivos móviles en modo paisaje aquí */
 }
 
 /* Dispositivos móviles en modo retrato */

 
 /* Dispositivos móviles con pantalla de ancho completo */
 @media only screen and (max-width: 480px) {
   /* Estilos para dispositivos móviles con pantalla de ancho completo aquí */
 }
 
 /* Dispositivos móviles con pantalla de ancho medio */
 @media only screen and (min-width: 481px) and (max-width: 768px) {
   /* Estilos para dispositivos móviles con pantalla de ancho medio aquí */
 }
 
 /* Dispositivos móviles con pantalla de ancho grande */
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
   /* Estilos para dispositivos móviles con pantalla de ancho grande aquí */
 }
 
 /* Dispositivos móviles con pantalla de ancho extra grande */
 @media only screen and (min-width: 1025px) {
   /* Estilos para dispositivos móviles con pantalla de ancho extra grande aquí */
 }
 