
.all{
    height:fit-content;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-bottom-right-radius: 50%;
}   

.boxOne{
    height: 13vh;
    width: 100%;
    display: flex;
    align-items:end;
}
.boxThree{
    height: 7vh;

}
.boxOne > div{
    width: 25%;
}

.boxOne > h1{
    padding-bottom: 0; 
    margin-bottom: 0;
    display: flex;
    align-items:center;
    font-size: 400%;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(3px 3px 7px black);
}

.boxTwo{
    width: 100%;
    display: flex;
    height: 70vh;
    
}

.boxTwo_space{
    width: 25%;
}

.container_projects{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem ; 
}


.card {
    width: 45%;
    height: 90%;
    transition: .5s;
    background: #030a13;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    flex-direction: column;
    outline: none;
}
a:link { text-decoration:none; } a:visited { text-decoration:none; }

.card_presentation{
    z-index: 1;
    height: 85%;
    width: 100%; 
    display: flex; 
    align-items: center;
    flex-direction: column  ;
}

.logo{
    z-index: 1;
    background: #ffffffd8;
    display: flex;
    justify-content: center;
    height: 15%;
}

.logo2{
    z-index: 1;
    background: #23282F;
    display: flex;
    justify-content: center;
    height: 15%;
}
 
.logo > img{
    width: 60%; 
}

.video{
    z-index: 1;
    height: 50%;  
}
.data_project{
    color:#ffffff98;
    text-align: center;
    height: 50%;
    width: 90%;
    font-weight: bold;
    
}
.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}






@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
  
  .card::after {
    content: '';
    position: absolute;
    background: #030a13;
    

    inset: 5px;
    border-radius: 15px;
  } 

  
   .card:hover:before {
    animation: rotBGimg 3.5s linear;
    width: 100%;
 
} 


.card:hover{
    filter: drop-shadow(0 0  2rem black); 
    transition: .7s;
    scale: .9;
}

.card:hover::after{
    transition: 1s; 
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    
}



