
.all{
    height:fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}   

.boxOne{
    height: 23vh;
    width: 100%;
    display: flex;
    align-items:end;
}
.boxThree{
    height: 7vh;
    background: #000;

}
.boxOne > div{
    width: 25%;
}

.boxOne > h1{
    padding-bottom: 0; 
    margin-bottom: 0;
    display: flex;
    align-items:center;
    font-size: 5rem;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(3px 3px 7px black);
}

.boxTwo{
    width: 100%;
    display: flex;
    height: 70vh;

}

.boxTwo_space{
    width: 25%;

}

.container_projects{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem ; 
    border:green solid 2px
}



.card {
    width: 40%;
    height: 80%;
    transition: .5s;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #07182E;

    inset: 5px;
    border-radius: 15px;
  } 

  
   .card:hover:before {
    animation: rotBGimg 3.5s linear;
    width: 100%;
 
} 


.card:hover{
    filter: drop-shadow(0 0  2rem black); 
    transition: .7s;
    scale: .9;
}

.card:hover::after{
    transition: 1s; 

    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));

}




.nav{
    width: 25%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.nav > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.nav h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    color: #ffffff98;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(.7rem .7rem 10px black);
    cursor: pointer;
}

.nav h3:hover {
    transition: .2s;
    scale: 1.2; 
    color:#ffffff;
    transform: translateZ(10px) rotateX(20deg) rotateY(-20deg);
} 
.card:hover {
  }