:root {
	--background: #005;
	--primary: #88D5BF;
	--secondary: #5D6BF8;
	--third: #e27fcb;
}
.all{
    height: 90vh;
}  

.container{
    height: 90vh;
    display: flex;
}


.divOne{ 
    width: 25%;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}


.divOne> img{

    width:  300px;
    height: 300px;
    border-radius:50%;
}




.divTwo{
    width: 50%;
}

.card{
    height: 100%;

}


.header{
    height: 50%;
    display: flex;
}

.container_photo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.container_title{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}


.container_title > h3{
    font-size: 400%;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(3px 3px 7px black);
}



.body{
    align-items:center;
    height: 50%;
    display: flex;
    flex-direction: column;
    overflow: scroll; 
}
.body::-webkit-scrollbar {display: none;}
.frase{
    font-style: italic;
    text-align: center;

    width: 80%;
    color:#c5d1d8;
    font-weight: bold;
    font-size: 1.4rem;
}

.body > p{
    width: 80%;
    color:#c5d1d8;
    font-weight: bold;
    font-size: 1.4rem;

}




.boxTwo{
    display: flex;
    justify-content: end;
    height: 13vh;
    padding-right: 1rem;
}

.nav{
    display: flex;  
    gap: 10px;
    align-items:center;
}

.nav > div{
    display: flex;
}

.nav > div > h3{
    transition: .3s;
    font-size: 30px;
    height: 100%;
    margin-bottom: 0;
    color: #c5d1d8a2;
    font-family: "Oswald", sans-serif;
    filter: drop-shadow(5px 5px 7px black);
} 

.nav > div > h3:hover{
    transition: .3s;
    color: #ffffff;
    cursor: pointer;
    font-size: 55px;
    max-height: fit-content;
}



.shape {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    background-image: url("../../assets/fotodeperfil.jpeg") ;
    background-position: center center; 
    background-repeat: no-repeat;

    background-size: cover;

    animation: morph 4s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 80%;
    width:  90%;
    transition: all 1s ease-in-out;
    }

    @keyframes morph {
    0% {
            border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
    
    50% {
            border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
}


  /*mobile disigne*/
  @media  (min-width: 515px) and (max-width: 992px) {
      
    .all{
        height: 100vh;
    } 
    .container_title > h3{
        font-size: 250%;
    }
 
    .body > p{
        width: 80%;
        color:#c5d1d8;
        font-weight: bold;
        font-size: 1rem;
    }
    .divOne{
        width: 20%;
       }
       .divTwo{
        width: 60%;
    }
       .frase{
        font-style: italic;
        text-align: center;
    
        width: 80%;
        color:#c5d1d8;
        font-weight: bold;
        font-size: .8rem;
    }
    
  }


   /* Pantallas pequeñas */


  
  /* Pantallas medianas */
  @media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas medianas aquí */
    
  }
  
  /* Pantallas grandes */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes aquí */
  }
  
  /* Pantallas extra grandes */
  @media (min-width: 1201px) {
    /* Estilos para pantallas extra grandes aquí */
  }
 
  /* Dispositivos móviles en modo retrato */
  @media (orientation: portrait) {
    /* Estilos para dispositivos móviles en modo retrato aquí */
  
    .divOne{
    width: 0%;
   }
   .divTwo{
    width: 100%;
   }

    .card{
        width: 100%;
        height: 90vh;
    }

    .header{
        flex-direction: column;
        padding: 15px;

    }
    .container_photo{
        width: 100%;
        height: 70%;
        align-items:start; 
    }
    .shape{
        height: 100%;
    }
    .container_title{
        width: 100%;
        height: 30%;

    }
    .container_title > h3{
        font-size: 200%;
    }
    .frase{
        font-size: 1rem;
    }

    .body{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        background: #030a13;

    }
    .body > p{
        color:#c5d1d8;
        font-weight: bold;
        font-size: 1.05rem;
        text-align: center;

    }
    .shape {
        height: 80%;
        width:  50%; }

  }
  
  @media (min-width: 360px) and (max-width: 516px) {
    .all{
        background: #030a13;

    }  
    .container_title > h3{
        font-size: 200%;
    }
    .frase{
        font-size: 1rem;
    }

    .body{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        background: #030a13;
    

    }
    .body > p{
        color:#c5d1d8;
        font-weight: bold;
        font-size: .8rem; 
        text-align: center;
    }
 }
