@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


.app{
    background: white;
    background: linear-gradient(144deg, rgb(0, 0, 0) 0%, rgb(63, 63, 223) 100%);
    height: fit-content;
} 

.boxOne{
    width: 100%;
    height: 20%;
    
}
.boxOne > div{
    width: 20%;
    height: 100%;
    padding: .5rem;
    display: flex;
}
.rowUp{
    width: 6px;
    height: 7.5rem;
    background: #000000;
   
}
.rowBootom{
    height: 6px;
    width:  7.5rem;
    background: #000000;
  
}
/*box two*/

.boxTwo{
    height: 60%;
    width: 100%;
}

