@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html{
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {display: none;}

/* aca para darle ligar a la barra de navegacion
 section[id]{
    scroll-margin-top: 10rem;
} */

header{
    position: fixed; 
    height: 10vh;
    display: flex;  
    align-items:center;
    justify-content:end;
    width: 100%;
    padding: right 1rem;
    z-index: 3; 
    padding-right: 2rem;
    padding-left: 1rem;
}

.nav{
    width: 100%;
}

.logo_hidden{
    width: 30%;
    display: none;
}
.logo{
    width: 30%;
    font-size: 1.2rem;
    outline: none;
    text-decoration: none;
    color: #e6e8e9;
}
.logo:hover{
    color:  #ffc402;

}


section[id]{
    scroll-margin-top:10vh ;
}

.nav {
    background: linear-gradient(144deg,rgb(63, 63, 223) 0%, rgb(24, 24, 90) 100%); 
} 



.app{
    background: white;
    background: linear-gradient(144deg,rgb(63, 63, 223) 0%, rgb(24, 24, 90) 100%); 
    height: fit-content;
} 

.container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1.6fr .4fr;
}


@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas aquí */
 
    
  }

  
  /* Pantallas medianas */
  @media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas medianas aquí */
  }
  
  /* Pantallas grandes */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes aquí */
  }
  
  /* Pantallas extra grandes */
  @media (min-width: 1201px) {
    /* Estilos para pantallas extra grandes aquí */
  }
  
  /* Dispositivos móviles en modo paisaje */
  @media (orientation: landscape) {
    /* Estilos para dispositivos móviles en modo paisaje aquí */
  }
  
  /* Dispositivos móviles en modo retrato */
  @media (orientation: portrait) {
    /* Estilos para dispositivos móviles en modo retrato aquí */
    header{
        position: fixed; 
        height: 10vh;
        display: flex;  
        align-items:center;
        justify-content:end;
        width: 100%;
        padding: right 1rem;
        z-index: 3; 
        padding: 0;
    }

    .logo, .logo_hidden{
        display: none;
    }
  }
  
  /* Dispositivos móviles con pantalla de ancho completo */
  @media only screen and (max-width: 480px) {
    /* Estilos para dispositivos móviles con pantalla de ancho completo aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho medio */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para dispositivos móviles con pantalla de ancho medio aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho grande */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para dispositivos móviles con pantalla de ancho grande aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho extra grande */
  @media only screen and (min-width: 1025px) {
    /* Estilos para dispositivos móviles con pantalla de ancho extra grande aquí */
  }