@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html{
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {display: none;}

/* aca para darle ligar a la barra de navegacion
 section[id]{
    scroll-margin-top: 10rem;
} */

header{
    position: fixed; 
    height: 10vh;
    display: flex;  
    align-items:center;
    justify-content:end;
    width: 100%;
    padding: right 1rem;
    z-index: 3; 
    padding-right: 2rem;
    padding-left: 1rem;
}

.nav{
    width: 100%;
}

.logo_hidden{
    width: 30%;
    display: none;
}
.logo{
    width: 30%;
    font-size: 1.2rem;
    outline: none;
    text-decoration: none;
    color: #e6e8e9;
}
.logo:hover{
    color:  #ffc402;

}


section[id]{
    scroll-margin-top:10vh ;
}

.nav {
    background: linear-gradient(144deg,rgb(63, 63, 223) 0%, rgb(24, 24, 90) 100%); 
} 



.app{
    background: white;
    background: linear-gradient(144deg,rgb(63, 63, 223) 0%, rgb(24, 24, 90) 100%); 
    height: fit-content;
} 

.container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1.6fr .4fr;
}


  