
.nav_container{
    height: 10vh;
    width: 70%;
    gap: 10px;
    display: flex;  
    align-items:center;
    justify-content:end;
}

.nav{ 
    display: flex;
    align-items:center;
    gap: 1rem ;

}

.links>a{ 
    transition: .3s;
    font-size: 25px;
    height: 100%;
    margin-bottom: 0;
    color: #e6e8e9;

    filter: drop-shadow(5px 5px 7px black);
} 

.links >a:hover{
    transition: .3s;
    color:  #ffc402;
    cursor: pointer;
    font-size: 30px;
    max-height: fit-content;
}

.translater{
    display: flex;
    height: 100%;
    border: 2px solid #e6e8e9;
    margin-right: 2rem;
}
.translater > p{
    padding-inline: .2rem;
    margin-bottom: 0;
    color: #e6e8e9;
    cursor: pointer;
}

.translater > p:hover{
    background: #e6e8e9;
    color:#030a13;
}




/* Pantallas pequeñas */
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas aquí */
 
    
.nav_container{
    height: 10vh;
    display: flex;  
    gap: 10px;
    align-items:center;
    justify-content:end;
    padding-inline-end: 5%;
}

.nav{ 
    display: flex;
    align-items:center;
    gap: .5rem ;

}

.links>a{ 
    transition: .3s;
    font-size: 10px;
    height: 100%;
    margin-bottom: 0;
    color: #e6e8e9;

    filter: drop-shadow(5px 5px 7px black);
} 

.links >a:hover{
    transition: .3s;
    color:  #ffc402;
    cursor: pointer;
    font-size: 13px;
    max-height: fit-content;
}

.translater{
    display: flex;
    height: 100%;
    border: 1px solid #e6e8e9;
    margin-right: .5rem;
}
.translater > p{
    padding-inline: .2rem;
    margin-bottom: 0;
    color: #e6e8e9;
    cursor: pointer;
    font-size: 7px;
}

.translater > p:hover{
    background: #e6e8e9;
    color:#030a13;
}

  }

  
  /* Pantallas medianas */
  @media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas medianas aquí */
  }
  
  /* Pantallas grandes */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes aquí */
  }
  
  /* Pantallas extra grandes */
  @media (min-width: 1201px) {
    /* Estilos para pantallas extra grandes aquí */
  }
  
  /* Dispositivos móviles en modo paisaje */
  @media (orientation: landscape) {
    /* Estilos para dispositivos móviles en modo paisaje aquí */
  }
  
  /* Dispositivos móviles en modo retrato */
  @media (orientation: portrait) {
    /* Estilos para dispositivos móviles en modo retrato aquí */
   
    .nav_container{
        width: 100%;
    }
    .nav{
        height: 100%;
        justify-content: end;
        gap: .4rem;
        width: 100%;
    }

    .links_container{
        background: #000; 
    }
    .links>a{ 
        transition: .3s;
        font-size: 14px;
        height: 100%;
        margin-bottom: 0;
        color: #e6e8e9;
    
        filter: drop-shadow(5px 5px 7px black);
    } 
    .translater{
        height: 30%; 
        margin-right: 0;
        display: flex;
        align-items:center;
    }
    .translater > p{
        font-size: 8px;
        padding-inline: .2rem;
        margin-bottom: 0;
        color: #e6e8e9;
        cursor: pointer;

    }
    .links >a:hover{
        transition: .3s;
        color:  #ffc402;
        cursor: pointer;
        font-size: 18px;
        max-height: fit-content;
    }
    


  }
  
  /* Dispositivos móviles con pantalla de ancho completo */
  @media only screen and (max-width: 480px) {
    /* Estilos para dispositivos móviles con pantalla de ancho completo aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho medio */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para dispositivos móviles con pantalla de ancho medio aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho grande */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para dispositivos móviles con pantalla de ancho grande aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho extra grande */
  @media only screen and (min-width: 1025px) {
    /* Estilos para dispositivos móviles con pantalla de ancho extra grande aquí */
  }