
.all{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 90vh;
}   

.boxOne{
    height: 13vh;
    width: 100%;
    display: flex;
    align-items:end;

}
.boxThree{
    height: 7vh;

}
.boxTwo{
    width: 100%;
    display: flex;
    height: 70vh;
}

.space{
    width: 25%;
}

.title_container{
    width: 75%;
}

.title{
    padding-bottom: 0; 
    margin-bottom: 0;
    display: flex;
    align-items:center;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Oswall", sans-serif;
    font-weight: bold;
    filter: drop-shadow(3px 3px 7px black);
}

.description{
    color: #ffc402;
    padding-inline-start: 2rem;
    padding-bottom: 0; 
    margin-bottom: 0;
}

.boxTwo_space{
    width: 25%;
}



.container_logos{
    width:50% ;

    display: flex;
    align-items:center;
    justify-content: center;

    gap: .5rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 70vh;
 
}
 


.divs{
    display: flex;
    flex-direction: column;
    gap: .5rem;  
    height: 65vh;

}


.divs>div{
    text-align: center;
    border-radius: 30px;
    width: fit-content;
    height: 21vh;
    width: 100%;
    padding: 1rem;
    background: #030a13;
    
}



.divs > div:hover{
    scale: 1.2;
    background: #23282F;

}

.logo {
    width: 100%;
    height: 15vh;
}

.name{
    height: 3vh;
    color:#ffffff98;

}



/*mobile disigne*/


  /* Pantallas medianas */
  
  
  /* Pantallas grandes */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes aquí */
  }
  
  /* Pantallas extra grandes */
  @media (min-width: 1201px) {
    /* Estilos para pantallas extra grandes aquí */
  }
  
  /* Dispositivos móviles en modo paisaje */
  @media (orientation: landscape) {
    /* Estilos para dispositivos móviles en modo paisaje aquí */
  }
  
  /* Dispositivos móviles en modo retrato */
  @media (orientation: portrait) {
    /* Estilos para dispositivos móviles en modo retrato aquí */

    .boxOne{
        height: 20vh;

    }
    .boxTwo{
        align-items:center;
    }
    .boxThree{
        height: 10vh;
    }
    .space{
        width: 0;
        
    }
    .title_container{
        width: 100%;

    }
    .title{
        padding: 0;
        margin-bottom: 0;
        font-size: 4.5vh;
        padding-inline-start: 1rem;

    }
    .description{
        font-size: 1rem;
    }
    .boxTwo_space{
        width: 0;
        
    }
    
    .container_logos{
        width: 100%;
        padding: 0;
        padding-inline: .5rem;
    }
 
    .divs{
        height: 50vh;
        width: 31%;
    }
    .divs>div{
        height: 15vh;

    }
    .logo{
        height: 10vh;
    }

 }
 @media (min-width: 360px) and (max-width: 819px) {
   .all{
    border:red solid 3px; 
   }
    .boxOne{
        height: 20vh;
    }

   
    .boxTwo_space{
        width: 15%;
        
    }
    .container_logos{
        width: 70%;
        padding: 0;
        padding-inline: .5rem;
    }
    .divs{
        height: 50vh;
        width: 25%;
    }
    .divs>div{
        height: 15vh;

    }
    .logo{
        height: 8vh;
    }
    
 }
 @media (min-width: 819px) and (max-width: 1019px) {
    .all{
     border:rgb(255, 255, 0) solid 3px; 
    }
     .boxOne{
         height: 20vh;
     }
 
    
     .boxTwo_space{
         width: 25%;
         
     }
     .container_logos{
        width:50% ;
    
        display: flex;
        align-items:center;
        justify-content: center;
    
        gap: .5rem;
        padding-top: 5vh;
        padding-bottom: 5vh;
        height: 70vh;
  }    
     .container_logos{
         width: 50%;
         padding: 0;
         border:solid 2px yellow;
     }
     .divs{
         height: 50vh;
         width: 25%;
         border:solid 2px yellow;

     }
     .divs>div{
         height: 15vh;
 
     }
     .logo{
         height: 8vh;
     }
     .title{
        padding: 0;
        margin-bottom: 0;
        font-size: 5vh;
        padding-inline-start: 1rem;

    }
    .description{
        font-size: 1rem;
    }
     
  }
 