@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


.app{
    height: 100vh;
} 

.boxOne{
    width: 100%;
    height: 20%;
    
}
.boxOne > div{
    width: 20%;
    height: 100%;
    padding: .5rem 0 0 .5rem;
    display: flex;
}

/*box two*/

.boxTwo{
    height: 60%;
    width: 100%;
}



/*presentation*/
.presentation{
    width: 100%;
    height: 75%;
    display: flex;
}

.section_a{
    height: 100%;
    width: 20%;
}

.section_b{
    height: 100%;
    width: 60%;
}

.name{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.name_a{
    display: flex;
    align-items:end;
    padding:0;
    margin: 0;
    height: 40%;
    
}
.name_a > p{
    font-size: 2rem;
    padding:0;
    margin: 0;
    margin-bottom: 0;
    padding-left: 2rem;
    color:#c5d1d8;

}
.name_b{
    text-align: center;
    display: flex;
    align-items:end;
    justify-content: center;
    height: 60%;
}
.name_b > h1{
    font-size: 4.5rem;
    padding:0;
    margin: 0;
    color:#e6eff5;

}

.info{
    height: 50%;
    color:#c5d1d8;

}
.info > h3{ 
    height: 25%;
    text-align: center;
    font-style: italic;
    color: #ffc402;
    border-top: 5px solid #000000;
}

.info > p {
    text-align: center;
    font-weight: bold;
    height: 75%;
    font-size: 1.4rem;
    font-style: italic;
    
}

.section_c{
    height: 100%;
    width: 20%;
    padding-top: 2rem;
    padding-left: 2rem;
}

/* .section_c > div{
} */


.btn {
    background: #251E60;
    width: fit-content;
    height: 20%;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    display: flex;
    align-items:center;
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }








/*Icons*/
.contact{
    height: 25%;
    display: flex;
    align-items: center;
    padding-inline-start: 10%;
}

.icon_container{    
    display: flex;
    gap: 10px;
    height: fit-content;
    width: fit-content;
}

.icon_container > div {
    background: #251E60;
    display: flex;
    align-items:center;
    justify-content: center;
    width:  65px;
    height: 65px;
    border-radius: 50%; 
    padding: 10px;
    filter: drop-shadow(3px 3px 7px black);
    
}

.enlaces{
    display: flex;
    align-items:center;
    justify-content: center;

}

.icon_c{
    height: 40px;
    width:  40px;
    border-radius: 50%; 
    color: #c5d1d8;
    cursor:pointer;
}

.icon_b{
    height: 40px;
    width:  40px;
    border-radius: 50%; 
    color: #c5d1d8;
    cursor:pointer;
}

.icon_a{
    height: 40px;
    width:  40px;
    border-radius: 50%; 
    color: #c5d1d8;
    cursor:pointer;
    margin-bottom: 0;
}


.icon_containerDivA:hover, .icon_containerDivB:hover, .icon_containerDivC:hover{
    transition: .3s;
    scale: 1.2;
    color: #f0f3f5;
    filter: drop-shadow(0px 0px 7px #c5d1d8);

}

/*box three*/

.boxThree{
    height: 20%;
    display: flex;
    width: 100%;
}

.marco_izq{
    width: 20%;
}


.marco_izq{
    width: 20%;
    height: 100%;
    
}
.marco_izq > div{
 
    height: 100%;
    padding: .5rem;
    display: flex;
    align-items:end;

}

.marco_drc{
    width: 20%;
    height: 100%;

}

.marco_drc > div{
    width: 100%;
    height: 100%;
    padding: .5rem;
    display: flex;
    justify-content: end;
    align-items: end;

}
.container_nav{
    width: 60%;
    display: flex;
    justify-content: center;
} 


/* larger than 400px */
@media (min-width: 400px) {
   
}
  
  /* larger than 550px */
  @media (min-width: 550px) {
    
   
}
  

  

 /* Pantallas pequeñas */
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas aquí */
    
    /*dentro de presentacion*/
    
    .section_a{
        height: 0;
    }

    .section_b{
        height: 80%;
        width: 100%;
        border:2px solid red;
    }
    .section_c{
        height: 20%;
        width: 100%;
        border:2px solid green;
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 0;
    }
    
    
    .presentation{
        display:flex;
        flex-direction: column; 
        border:4px solid rgb(2, 21, 2);
        align-items:start;
    }   

    .info > h3{
        border: none;
    }

    .name_b{
        text-align: center;
        display: flex;
        align-items:end;
        justify-content: center;
        height: 60%;
    }
    .name_b > h1{
        font-size: 3rem;
    }

    .boxOne{
      display: none;
        
    }
    .boxThree{
        display: none;
    }
    /*box two*/
    
    .boxTwo{
        height: 100%;
        width: 100%;
        border: 2px solid red;
    }


    
    
  }
  
  /* Pantallas medianas */
  @media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas medianas aquí */
  }
  
  /* Pantallas grandes */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes aquí */
  }
  
  /* Pantallas extra grandes */
  @media (min-width: 1201px) {
    /* Estilos para pantallas extra grandes aquí */
  }
  
  /* Dispositivos móviles en modo paisaje */
  @media (orientation: landscape) {
    /* Estilos para dispositivos móviles en modo paisaje aquí */
  }
  
  /* Dispositivos móviles en modo retrato */
  @media (orientation: portrait) {
    /* Estilos para dispositivos móviles en modo retrato aquí */
    .section_a{
        height: 0;
    }

    .section_b{
        height: 80%;
        width: 100%;
        border:2px solid red;
    }
    .section_c{
        height: 20%;
        width: 100%;
        border:2px solid green;
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 0;
    }
    
    
    .presentation{
        display:flex;
        flex-direction: column; 
        border:4px solid rgb(2, 21, 2);
        align-items:start;
    }   

    .info > h3{
        border: none;
    }

    .name_b{
        text-align: center;
        display: flex;
        align-items:end;
        justify-content: center;
        height: 60%;
    }
    .name_b > h1{
        font-size: 3rem;
    }

    .boxOne{
      display: none;
        
    }
    .boxThree{
        display: none;
    }
    /*box two*/
    
    .boxTwo{
        height: 100%;
        width: 100%;
        border: 2px solid red;
    }

  }
  
  /* Dispositivos móviles con pantalla de ancho completo */
  @media only screen and (max-width: 480px) {
    /* Estilos para dispositivos móviles con pantalla de ancho completo aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho medio */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para dispositivos móviles con pantalla de ancho medio aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho grande */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para dispositivos móviles con pantalla de ancho grande aquí */
  }
  
  /* Dispositivos móviles con pantalla de ancho extra grande */
  @media only screen and (min-width: 1025px) {
    /* Estilos para dispositivos móviles con pantalla de ancho extra grande aquí */
  }
  